h1,h2,h3,h5,h6 {
    font-weight: 900;
}
h1 {
    font-size: 2.5em;
}
.subtitle {
    font-weight: 100;
    font-size: 1.5em;
}

body {
    background-color: #f1f1f1
}

section {
    margin-top:30px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-header > h4 {
    margin-right: 20px;
}

.card-header > span {
    margin-right: 20px;
    font-size: .8rem;
}

.container {
    width: 100%;
    max-width: 750px;
    padding:30px 15px 15px 10px;
    margin: 0 auto;
}